<pre>
Analisando a figura podemos montar o seguinte sistema: 

    y + 5 = 15
    2x + y = 4x

Agora vamos encontrar o valor de y:

    y = 15 - 5
    y = 10

Agrora vamos substituir o valor da variavel encontrada na segunda equação:
    
    2x + (10) = 4x
    10 = 4x - 2x
    10 = 2x
    10/2 = X
    x = 5

Para calcular o valor da área escura dividimos a figura em dois retangulos e substituimos os valores:
    A1 = y.5             A2 = 2X . 15
    A1 = 10 x 5          A2 = (2.5) . 15
    A1 = 50              A2 = 10 . 15
                         A2 = 150

    <b>Area total escura é 200</b>.
                                        
</pre>