{% load static %}

<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="header">
        <h1>Desafio | Ideyas Innovation</h1>
    </div>
    <div class="container">
        <a href="/cadastro/">1ª Task</a>
        <a href="/triangulos/">2ª Task</a>
        <a href="/home/desafio">3ª Task</a>
    </div>
    <footer>
        <img src="{% static 'img/dog-1.gif' %}" alt="Cachorro dancçando 1">
        <img src="{% static 'img/dog-2.gif' %}" alt="Cachorro dancçando 2">
        <img id="confeti" src="{% static 'img/cof.gif' %}" alt="confeti">
    </footer>

    <script src="{% static 'js/homeScripts.js' %}"></script>
</body>
</html>