html{
    --header:rgb(241, 88, 113);
    --headerModal:rgb(3, 196, 180);
    --background: white;
    --buttonGreen: greenyellow;
    --buttonHover: rgb(213, 247, 162);
    --nthRow: rgb(247, 236, 242);
    --tableLine:pink;
}
body{
    background: #642B73; 
    background: -webkit-linear-gradient(to right, #C6426E, #642B73); 
    background: linear-gradient(to right, #C6426E, #642B73); 
}
.container{
    width: 80%;
    margin: auto;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}
#modalCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .modalContainer{
    background-color: var(--background);
    width: 50%;
    margin: auto;
    border-radius: 5pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.header:first-child{
    background: var(--header);
    background: rgba(41, 41, 41, 0.67);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    border: 0.2rem solid #fff;
    border-radius: 5px;
    padding: 0.4em 2rem;
    box-shadow: 
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe; 
}

.header:first-child h1{
    animation: piscar 1.5s infinite alternate; 
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;

        
}

@keyframes piscar {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
#adicionarAmigo{
    background: var(--buttonGreen);
    padding: 0.75rem 1rem;
    border-radius: 5px;
}
#adicionarAmigo:focus{
    background: olivedrab;
}
#adicionarAmigo:hover{
    background: var(--buttonHover);
}
.modalContainer .header{
    background-color: var(--headerModal);
}
.modalContainer .header h3{
    text-transform: uppercase;
}
.modalContainer form{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.modalContainer form input{
    margin-bottom: 0.75rem;
    height: 2rem;
}
.modalContainer form .submit{
    background-color: var(--buttonGreen);
    border: none;
    border-radius: 5px;
}
.modalContainer form .submit:hover{
    background: var(--buttonHover);
}
#fecharModal{
    height: 50%;
}
.modal.active{
    opacity: 1;
    z-index: 1;
}
table{
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
}

table th{
    color: rgb(255, 242, 250);
    background: var(--header);
    text-transform: uppercase;
    padding: 0.375rem 0;
}
table tr:nth-child(2n){
    background: var(--nthRow);
}
table td{
    color: rgb(49, 0, 29);
    text-align: center;
    padding: 0.375rem 0;
    border-bottom: 1pt solid var(--tableLine);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.35rem;
    border: 1pt solid white;
    border-radius: 5pt;
    padding: 0.3rem 0.6rem;
}

footer a:hover{
    color: rgb(248, 242, 169);
}